.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  
  background-color: var(--color-gainsboro-100);
  width: 1920px;
  height: 1080px;
}
.frame-item {
  position: absolute;
  top: 186px;
  left: 1610px;
  width: 310px;
  height: 894px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}
.frame-child1,
.frame-inner,
.middlebox-icon,
.rectangle-icon {
  position: absolute;
  left: 0;
  object-fit: cover;
  mix-blend-mode: luminosity;
}
.frame-inner {
  top: 186px;
  border-radius: 0 0 0 var(--br-11xl);
  width: 329px;
  height: 924px;
}
.frame-child1,
.middlebox-icon,
.rectangle-icon {
  top: 0;
  width: 1920px;
  height: 186px;
}
.frame-child1,
.middlebox-icon {
  top: 185px;
  left: 299px;
  width: 1337px;
  height: 925px;
}
.middlebox-icon {
  top: 214px;
  left: 338px;
  border-radius: var(--br-11xl);
  width: 1272px;
  height: 286px;
}
.welcome-explore-our {
  position: absolute;
  top: 245px;
  left: 384px;
  font-weight: 600;
  display: inline-block;
  width: 1180px;
  text-shadow: 0 4px 4px #000;
  mix-blend-mode: normal;
}
.frame-child2,
.frame-child3 {
  top: 555px;
  width: 395px;
  height: 215px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}
.frame-child2 {
  position: absolute;
  left: 329px;
  border-radius: var(--br-31xl);
}
.frame-child3 {
  left: 772px;
}
.frame-child3,
.frame-child4,
.rectangle-div {
  position: absolute;
  border-radius: var(--br-31xl);
}
.frame-child4 {
  top: 555px;
  left: 1215px;
  width: 395px;
  height: 215px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}
.rectangle-div {
  top: 386px;
  left: 384px;
  background-color: rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 162px;
  height: 64px;
  mix-blend-mode: normal;
}
.generate {
  position: absolute;
  top: 400px;
  left: 408px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.kryptocrack {
  position: absolute;
  top: 69px;
  left: 102px;
}
.assassins-creed-1-1 {
  position: absolute;
  top: 60px;
  left: 23px;
  width: 66px;
  height: 66px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}
.rectangle-parent {
  width: 100%;
  position: relative;
  background-color: transparent;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-mediumspringgreen);
  font-family: var(--font-poppins);
}

.button {
  position: absolute;
  z-index: 9;
  margin-top: 80px;
  margin-left: 1700px;
  background-color: #00ff73;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  font-family: 'poppins';
  color: #000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #035f29;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:focus {
  outline: none;
}